;; deps.edn
{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        instaparse/instaparse {:mvn/version "1.4.12"}}

 :aliases
 {:repl {:exec-fn lambda_mu.repl/run
         :extra-paths ["src"]
         :extra-deps {}}

  :main {:main-opts ["-m" "lambda_mu.repl"]}}}
